<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590635822251-lfbjb7dekdnp3f2tut06huv6re5rmkrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590635822251-lfbjb7dekdnp3f2tut06huv6re5rmkrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDqbrFWngf-c_mBfng1Rtctd6sf0iUzx8I</string>
	<key>GCM_SENDER_ID</key>
	<string>590635822251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.coloradocollege.ccsgaComments</string>
	<key>PROJECT_ID</key>
	<string>ccsga-comments</string>
	<key>STORAGE_BUCKET</key>
	<string>ccsga-comments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590635822251:ios:9158d60438dbc998b75bee</string>
	<key>DATABASE_URL</key>
	<string>https://ccsga-comments-default-rtdb.firebaseio.com</string>
</dict>
</plist>